.products{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
flex-wrap: wrap;

margin-top: 2rem;
}
.product{
    width: 250px;
    max-width: 100%;
    align-items: center;
height: 400px;
display: flex;
justify-content:space-between;
flex-direction: column;
margin: 1rem auto;
padding: 1rem;
border-radius: 15px;
box-shadow: -5px -5px 10px rgba(255, 255,255, 0.5),
2px 2px 5px rgba(94,104, 121, 0.3)
;
}
.product img{
    width: 80%;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}
.product h3{
    font-size: 25px;
}
.product .details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}